/* Add a black background color to the top navigation */

body {
  margin:0px;
  font-size: larger;
  font-family: Helvetica, sans-serif;
  background-image: url('images/Tennis-Kreism156.png'), url('images/logo-modified.png');
  background-repeat: repeat-x, no-repeat;
  background-attachment: scroll, scroll;
  background-position: 0px 0px, 50px 300px;
  /* background-size: cover;*/
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(53, 53, 53);
  font-family: Arial;
  margin-top: 200px;
  /* padding-left: 375px; */
  /* padding-left: 250px; */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 30px;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #ff1414;
  color: white;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 20px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(121, 121, 121);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  margin-left: 400px;
  margin-top: 40px;
  margin-right: 180px;
}

.main p {
  padding-bottom: 10px;
}

.styled-table {
  width: 60%;
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #3b3b3b;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 9px 15px;
    width: 25px;
}

.styled-table th.firstElem,
.styled-table td.firstElem {
    padding: 9px 15px;
    width: 475px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff1414;
}
